
<%= @answer %>

<form action="/who_are_you" method="get">
  <button>Next</button>
</form>

<form action="/no_worries" method="get">
  <button> Naah, I wanna start <%= @activity %>, now </button>
</form>