
<%= "hello" %>

<form action="/write_novel" method="get">
  <button>Write a novel</button>
</form>

<form action="/no_worries" method="get">
  <button> Naah, I wanna start <%= @activity %>, now </button>
</form>