<form action="/testing" method="get">
  <label for="">Enter the title of the movie below</label>
  <input type="text"name="title">
</form>

<%if @result.length == 1 %>
  <% redirect to '/show' %>

<% else %>
<% @result.each do |x|%>
<a href="/details/<%=x['Title']%>" action="/testing/here" method="get"><h1><%= x['Title'] %></h1>
  <%end%>
<%end%>
 