<h1><%= @text %></h1>

<h1> Have you ever been to Italy?</h1>
<form action="/question3_yes" method="get">
  <button>YES</button>
</form>

<form action="/question3_no" method="get">
  <button>NO</button>
</form>