<h1><%= @text %></h1>

<h1>But have you ever seen the rain?</h1>
<form action="/question2_yes" method="get">
  <button>YES</button>
</form>

<form action="/question2_no" method="get">
  <button>NO</button>
</form>
