<h1>Congratulations, you have been selected to join the rest of the procrastinators</h1>

<h2>I suggest you start procrastinating by taking a pointless quiz</h2>

<form action="/q1" method="get">
  <button>Let's do this</button>
</form>

<%= @user %>