<h1>Congratulations, you have been selected to join the rest of the procrastinators</h1>

<h2>I suggest we start off with consuming some random facts</h2>

<form action="/trivia" method="get">
  <button>Let's do this</button>
</form>
