<h1>Welcome to procrastinate</h1>
<form action="/save_activity" method="post">
  <label for="">What should you be doing right now?</label>
  <input type="text"name="activity">
  <button>Go</button>
</form>

