
<h1>Nice to meet you, <%= @name %></h1>
<h1>I believe our journey has come to an end, get a procrastination report before you go.</h1>
<form action="/results" method="get">
  <button>Okeydokey</button>
</form>