

<form action="/quiz" method="get">
<% all_questions = Question.all %>
    <% all_questions.each do |x| %>
      <% @asked_question = x.question %>
  <label for=""><%= @asked_question %></label><br>
  <input type="text" name="guess" ><br>
          <form action="/quiz" method="post">
      <% answer = params[:guess] %>
  <% if !answer.nil? && !answer.empty?%>
      <% user = User.find_by(id: session[:user_id]) %>
      <% question = Question.find_by(id: x.id) %>
      <% question.user_id = user.id  %>
      <%  question.guess = answer %>
          <% question.save %>
          <%  else answer = " " %>
    
              <button>Submit</button>
          </form>

          <% end %>


  <label for=""><%= "jee" %></label><br>
  <% end %>
</form>

  



  


