

<% @question.each do |x|%>
<form action="/q1/question" method="post">
  <label for=""><%= x.question %></label><br>
  <input type="text"name="guess"><br>
  <label for=""><% x.answer %></label><br>
  
</form>


  
<%end%>

