<form action="/trivia" method="get">
  <label for="">Choose a number</label><br>
  <input type="number"name="number">
</form>

<h1>
<%= @trivia %>
</h1>

<form action="/q1" method="get">
  <button>Enough of numbers, let's move on</button>
</form>

<form action="/who_are_you" method="get">
  <button>I want to stop procrastinating now</button>
</form>
