<form action="/trivia" method="get">
  <label for="">Choose a number</label><br>
  <input type="number"name="number">
</form>


<%= @trivia %>

<form action="/trivia" method="get">
  <button>Enough of numbers</button>
  <button>Wanna go and do my activity now</button>
</form>
