
<form action="/trivia" method="get">
  <label for="">Type in a number and press enter</label><br>
  <input id="trivia" type="number" name="number">
</form>

<h1>
<%= @trivia %>
</h1>

<form  action="/question1" method="get">
  <button id="long-text">Enough of numbers, let's move on</button>
</form>


