<h1>Ooh, <%= @activity %>, eh? Do you feel like <%= @activity %>?</h1>

<form action="/go_on_then" method="get">
  <button>YES</button>
</form>

<form action="/congrats" method="get">
  <button>NO</button>
</form>

