
<form action="/save_name" method="post">
  <label for="">I hope you got things sorted out. <br><br> Funny thing, we've had quite a chat but I still do not know your name. I'm Helen, what's your name?</label>
  <input type="text"name="name">
  <button>Go</button>
</form>
