
  <div class="wrapper">
    <h1>Tell me, what is bothering you.</h1>
    <form action="/write_novel/save" method="post">
      <textarea name="characters" id="vaev"></textarea>
      <input type="submit" value="Done for now" class="submit" id="submit">
    </input>
    </form>
  </div>

